 <!-- footer section start -->
 <div class="footer_section layout_padding margin_top90">
   <div class="container">
      <div class="footer_menu">
         <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/furnitures">Furnitures</a></li>
            <% if(userIN) { %>
            <li <a href="/dashboard">Dashboard</a></li>
            <% } %>
            <li><a href="/contact">contact Us</a></li>
         </ul>
      </div>
      <div class="social_icon">
         <ul>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
      </div>
   </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
   <div class="container">
      <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free Html Templates</a></p>
   </div>
</div>
<!-- copyright section end -->
<!-- Javascript files-->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.0.0.min.js"></script>
<script src="/js/plugin.js"></script>

<!-- sidebar -->
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/custom.js"></script>
<!-- javascript --> 
<script src="/js/owl.carousel.js"></script>

<!-- eklemeler--> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
   $(document).ready(function() {
   var owl = $('.gift_owl_carousel');
   owl.owlCarousel({
   items: 3,
   loop: true,
   margin: 10,
   nav: true,
   dots: false,
   navText : ["<i class='fa fa-arrow-left'></i>","<i class='fa fa-arrow-right'></i>"],
   autoplay: false,
   autoplayTimeout: 3000,
   autoplayHoverPause: true,
   responsive: {
   0: {
      items: 1
   },
   769: {
      items: 2,
   },
   992: {
      items: 3
   }
   }
   });   
   });
</script>
</body>
</html>