<div class="header_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"
        ><img src="/images/logo.png"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
          <div class="call_text">
            <ul>
               <% if(!userIN) { %>
                  <li ><a class="hover-btn-new log mr-2" href="/login"
                     ><span><i class="fa fa-sign-in" aria-hidden="true"></i></span
                   ></a>
                 </li>
                 
                 <li ><a class="hover-btn-new log mr-2" href="/register"
                  ><span><i class="fa fa-user-plus" aria-hidden="true"></i></span
                     
                ></a>
              </li> 
               
                 <% } %>
                 <% if(userIN) { %>
                  
                    <li>
                      <a class="hover-btn-new log mr-2" href="/users/logout"
                        ><span><i class="fa fa-sign-out" aria-hidden="true"></i></span
                      ></a>
                    </li>
                
          
                  <% } %>
              
            </ul>
          </div>
        </form>
      </div>
    </nav>
    <div class="custome_menu">
      <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li ><a href="/furnitures">Furnitures</a></li>
        <% if(userIN) { %>
        <li><a href="/users/dashboard">Dashboard</a></li>
        <% } %>
        <li><a href="/contact">Contact Us</a></li>
        
       
      </ul>
    </div>
  </div>
</div>
<!-- header section end -->
