body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: url("./images/background-wallpaper.jpg") no-repeat center center fixed;  
  background-size: cover;
  height: max-content;
  
  font-weight: bold;
}

#root {
  height: max-content;
  font-weight: bold;
}
