<%- include('partials/_header'); %>
<%- include('partials/_navigation'); %>
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">About Our Shop</h1>
                  <p class="about_text">reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content</p>
               </div>
            </div>
            <div class="about_section_2 layout_padding">
               <div class="row">
                  <div class="col-md-6">
                     <div class="about_img"><img src="images/about-img.png"></div>
                  </div>
                  <div class="col-md-6">
                     <div class="good_text">Good Furntures Design</div>
                     <p class="making_text">Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to </p>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
     
      <%- include('partials/_footer'); %>