<%- include('partials/_header'); %>
<%- include('partials/_navigation'); %>
      <!-- banner section start --> 
      <div class="banner_section layout_padding">
         <div class="banner_section_2">
            <div class="owl-carousel owl-theme gift_owl_carousel">
               <div class="item">
                  <div class=" banner_main">
                     <h3 class="banner_taital">Best Furnitures For Your Home</h3>
                     <img src="images/banner-img.png" alt="#" />
                  </div>
               </div>
               <div class="item">
                  <div class=" banner_main">
                     <h3 class="banner_taital">Best Furnitures For Your Home</h3>
                     <img src="images/banner-img1.png" alt="#" />
                  </div>
               </div>
               <div class="item">
                  <div class=" banner_main">
                     <h3 class="banner_taital">Best Furnitures For Your Home</h3>
                     <img src="images/banner-img2.png" alt="#" />
                  </div>
               </div>
               <div class="item">
                  <div class=" banner_main">
                     <h3 class="banner_taital">Best Furnitures For Your Home</h3>
                     <img src="images/banner-img2.png" alt="#" />
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- banner section end -->
     
      <!-- furnitures section start -->
      <div class="furnitures_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="furnitures_taital">Our Furnitures Work</h1>
                  <p class="furnitures_text">reader will be distracted by the readable content of a page when looking at its layout. </p>
               </div>
            </div>
            <div class="furnitures_section_2">
               <div class="row">
                  <div class="col-md-4">
                     <div class="hover01 column">
                        <figure><img src="images/img-1.png"></figure>
                     </div>
                     <h3 class="introduction_text">Bedroom</h3>
                     <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                  <div class="col-md-4">
                     <div class="hover01 column">
                        <figure><img src="images/img-2.png"></figure>
                     </div>
                     <h3 class="introduction_text">Office</h3>
                     <div class="seemore_bt active"><a href="#">See More</a></div>
                  </div>
                  <div class="col-md-4">
                     <div class="hover01 column">
                        <figure><img src="images/img-3.png"></figure>
                     </div>
                     <h3 class="introduction_text">Bathroom</h3>
                     <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- furnitures section end -->
     
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="contact_taital contact_heading">Get In Touch</h1>
               </div>
            </div>
            <div class="contact_section_2">
               <div class="row">
                  <div class="col-md-12">
                     <div class="mail_section map_form_container">
                        <form action="">
                           <input type="text" class="mail_text" placeholder="Name" name="Name">
                           <input type="text" class="mail_text" placeholder="Phone Number" name="Phone Number"> 
                           <input type="text" class="mail_text" placeholder="Email" name="Email">
                           <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                           <div class="btn_main">
                              <div class="send_bt"><a href="#">Send</a></div>
                              <div class="map_bt active"><a href="#" id="showMap">Map</a></div>
                           </div>
                        </form>
                        <div class="map_main map_container">
                           <div class="map-responsive">
                              <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="368" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                              <div class="btn_main">
                                 <div class="map_bt d-flex justify-content-center w-100 map_center"><a href="#" id="showForm">Form</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->
      
      <%- include('partials/_footer'); %>